/*!
*date:2016-02-18;
*/
html,body{
	background-color: #fff;
	-ms-touch-action: none;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
section{
	padding-bottom: 25px;
}
/*row 并行样式*/
.index_acount,.index_newGame{
	margin-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
}
.index_acount label,.index_newGame label{
	font-size: 24px;
	padding-top: 0px !important;
}
.index_acount input,.index_newGame input{
	font-size: 20px;
}

.index_grouping .scroller{
	padding: 0 !important;
	background:none;
}
.index_grouping .scroller .row{
	margin: 0 !important;
}
.index_grouping .scroller .row .teamName{
	float: left;
	font-size: 20px;
	line-height: 32px;	
}
.index_grouping .scroller .row .playerName,.index_grouping .scroller .row .playerNameEnd{
	float: left;
	line-height: 32px;
}
.index_grouping .scroller .row .playerName:after{
	content: "、";
}
.index_grouping .scroller .row .addPlayer{
	float: left;
	width: 32px;
	height: 32px;
	padding: 7px 9px;
}
/*自适应布局*/
html,body,.wrap{height: 100%;}
body>.wrap{
	/*height: auto;
	min-height: 100%;
	background-color: #303030;
	background-image: -moz-linear-gradient(top, #303030, #fefefe); 
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #303030),color-stop(0.5,#666666), color-stop(1, #fefefe)); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#666666', GradientType='0'); 
*/}
.navbar{
	position: relative;
	width: 100%;
	height: 50px;
}
.main{
	padding-bottom: 50px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.footer{
	position: relative;
	margin-top: -50px;
	height: 50px;
	clear: both;
}
.footer .credit {
	margin: 15px 0;
}
/*margin*/
.no-btm-margin{
	margin-bottom: 0px;
}
.no-top-margin{
	margin-top: 0px;
}
/*color*/
.white {
	color:#fff;
}
.bg-gray{
	background-color: #eee;
}
.bg-logo{
	margin-bottom: 25px;
	text-align: center;
}
.bg-logo>img{
	width: 90%;
	min-height: 300px;
	max-height: 400px;
	min-width: 300px;
	max-width: 400px;
	margin: 0px auto;
}
@media (max-width: 767px) {
    .bg-logo>img {
		width: 300px;
		height: 300px;
    }
}